.hmi-design-banner {
  height: 50px;
  border-bottom: 1px solid gainsboro;
}
.hmi-design-status-bar {
  height: 40px;
  border-top: 1px solid gainsboro;
}
.hmi-design-icon-bar {
  width: 50px;
  background-color: gainsboro;
}
.mat-button-toggle-checked {
  background-color: white;
}