<div class="hmi-design-full-screen hmi-design-column">
  <div class="hmi-design-banner">banner</div>
  <div class="hmi-design-dynamic hmi-design-row">
    <div class="hmi-design-icon-bar">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [vertical]="true">
        <mat-button-toggle value="home"  (change)="homeClick($event)">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="tree" (change)="homeClick($event)">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="wysiwyg"></mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="hmi-design-dynamic">
      <as-split [unit]="'percent'" [direction]="'horizontal'">
        <as-split-area #splitLeftArea [size]="leftSize">
          <p>{{leftPanel}}</p>
        </as-split-area>
        <as-split-area [size]="100 - leftSize - rightSize">
          <p>Center</p>
        </as-split-area>
        <as-split-area [size]="rightSize">
          <p>RIGHT</p>
        </as-split-area>
      </as-split>
    </div>
    <div class="hmi-design-icon-bar"></div>
  </div>
  <div class="hmi-design-status-bar">status bar</div>
</div>