/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

div {
  display: flex;
}

.hmi-design-row {
  flex-direction: row;
}

.hmi-design-column {
  flex-direction: column;
}

.hmi-design-dynamic {
  flex: 1;
}

.hmi-design-full-screen {
  height: 100%;
  width: 100%;
}
